body{
    background-color: rgb(195, 215, 233);
}
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
     color: rgb(49, 48, 48);
   
}
nav ul li{
     margin-right: 10px;
     display: inline;
}
nav ul li:hover{
     background-color: aquamarine;
}
footer{
    text-align: center;
}